/* Para o componente card */



.content-cards-quiz-conclusao{
display: flex;
justify-content: center;
align-items: center;

}

.body-card-quiz-conclusao{

display: flex;
justify-content: center;
align-items: center;
position: relative;
margin-top: 150px;
width: 520px;
height: 652px;
border-radius: 12px;
}

    
    
    
    
.content-button-card-quiz button{
width: 200px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
margin-left: 14px;
color: black;
cursor: pointer;
}
    
    
.btn-button-5{
width: 336px;
height: 33px;
background-color:#E1C8F4;
color:black;
font-size: 20px;
cursor:pointer;
}
.btn-content-2{
margin-top: 15px;
}


.card-conclusao{
width: 450px;
height: 240px;
background-color: #6C727F;
border-radius: 9px;
}

    